* {
  margin: 0;
}

html {
  height: 100%;
}

body {
  font: 100% Helvetica, sans-serif;
  background: url("/img/beach.jpg") no-repeat center center fixed;
  background-size: cover;
}

span {
  padding: 16px;
  font-size: 22px;
}

.right-box {
  padding: 30px;
  background-color: white;
  opacity: .9;
  border-radius: 4px;
}

.save-box {
  color: white;
  padding: 30px;
  background-color: #447A78;
  opacity: .9;
  border-radius: 4px;
}

.container-box img {
  height: 20px !important;
  display: none;
}

.container-saving {
  display: none;
}

.container-saving img {
  height: 50px !important;
}

