$font-stack:    Helvetica, sans-serif;
$primary: #6A6163;
$acent: #FCB2AB;
$button: #4B6A78;
$saving: #447A78;

* {
  margin: 0;
}


html {
  height: 100%;
}

body {
  font: 100% $font-stack;
  background: url('/img/beach.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

span {
  padding: 16px;
  font-size: 22px;
}


.right-box {
  padding: 30px;
  background-color: white;
  opacity: .9;
  border-radius: 4px;
}

.save-box {
  color: white;
  padding: 30px;
  background-color: $saving;
  opacity: .9;
  border-radius: 4px;
}

.container-box img{
  height: 20px !important;
  display: none;
}

.container-saving {
  display: none;
}

.container-saving img{
  height: 50px !important;
}
